In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [8]:
data = pd.read_csv('./data/3차완료.csv')

In [9]:
def func1(x):
    if x==0:
        return 0
    elif 0<x<2:
        return 1
    elif 2<=x<4:
        return 2
    elif 4<=x<7:
        return 3
    elif 7<=x<15:
        return 4
    elif 15<=x:
        return 5

In [11]:
data

,crosswalk_id,intersection,trafficlight,school,illegal_parking,cctv,traffic_sign,smart_crosswalk,subway_pop,bus_pop,cafe_50,cafe_100,target,accident
0,06-0000036765,0,0,0,0.000000,0,0,0,136.735043,0.520320,0.0,0.0,0,0
1,06-0000036763,0,0,1,0.000000,0,0,0,136.735043,0.560164,0.0,0.0,0,2
2,06-0000036761,0,0,1,0.000000,0,0,0,136.735043,0.650399,0.0,0.0,0,2
3,06-0000036762,0,0,1,0.000000,0,0,0,136.735043,0.650399,0.0,0.0,0,0
4,06-0000038099,0,0,1,0.000000,0,0,0,109.388034,0.872520,0.0,0.0,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2437,06-0000011870,1,1,1,0.761644,1,1,0,876.667350,13.029268,0.0,1.0,1,6
2438,06-0000003239,1,1,1,2.627397,1,10,0,876.667350,3.624228,0.0,1.0,1,3
2439,06-0000012023,1,0,1,2.627397,1,0,0,876.667350,3.624228,0.0,1.0,1,5
2440,06-0000012024,1,0,1,2.627397,1,0,0,876.667350,2.899382,0.0,1.0,2,12
2441,06-0000002715,1,1,1,0.087671,1,4,0,657.500513,2.899382,1.0,1.0,1,3

In [32]:
data['new_target'] = 0
for row in data.iterrows():
    data.loc[data['crosswalk_id'] == row[1]['crosswalk_id'], 'new_target'] = func1(row[1]['accident'])

In [35]:
data.new_target.value_counts().sort_index()

0    329
1    281
2    529
3    475
4    527
5    301
Name: new_target, dtype: int64

In [5]:
data2 = pd.read_csv('./data/2차완료.csv')

In [3]:
data.drop('accident', axis = 1, inplace = True)
data

,crosswalk_id,intersection,trafficlight,school,illegal_parking,cctv,traffic_sign,smart_crosswalk,subway_pop,bus_pop,cafe_50,cafe_100,target
0,06-0000036765,0,0,0,0.000000,0,0,0,136.735043,0.520320,0.0,0.0,0
1,06-0000036763,0,0,1,0.000000,0,0,0,136.735043,0.560164,0.0,0.0,0
2,06-0000036761,0,0,1,0.000000,0,0,0,136.735043,0.650399,0.0,0.0,0
3,06-0000036762,0,0,1,0.000000,0,0,0,136.735043,0.650399,0.0,0.0,0
4,06-0000038099,0,0,1,0.000000,0,0,0,109.388034,0.872520,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2437,06-0000011870,1,1,1,0.761644,1,1,0,876.667350,13.029268,0.0,1.0,1
2438,06-0000003239,1,1,1,2.627397,1,10,0,876.667350,3.624228,0.0,1.0,1
2439,06-0000012023,1,0,1,2.627397,1,0,0,876.667350,3.624228,0.0,1.0,1
2440,06-0000012024,1,0,1,2.627397,1,0,0,876.667350,2.899382,0.0,1.0,2
2441,06-0000002715,1,1,1,0.087671,1,4,0,657.500513,2.899382,1.0,1.0,1

In [4]:
data.target.value_counts()

0    899
2    828
1    715
Name: target, dtype: int64

In [36]:
data.columns

Index(['crosswalk_id', 'intersection', 'trafficlight', 'school',
       'illegal_parking', 'cctv', 'traffic_sign', 'smart_crosswalk',
       'subway_pop', 'bus_pop', 'cafe_50', 'cafe_100', 'target', 'accident',
       'new_target'],
      dtype='object')

In [37]:
df = data[['intersection', 'trafficlight', 'school',
           'illegal_parking', 'cctv', 'traffic_sign',
           'subway_pop', 'bus_pop', 'cafe_100', 'new_target']]

In [28]:
df = data[['intersection', 'trafficlight', 'school',
           'illegal_parking', 'cctv', 'traffic_sign',
           'smart_crosswalk', 'subway_pop', 'bus_pop', 'target']]

In [9]:
df

,intersection,trafficlight,school,illegal_parking,cctv,traffic_sign,subway_pop,bus_pop,cafe_100,target
0,0,0,0,0.000000,0,0,136.735043,0.520320,0.0,0
1,0,0,1,0.000000,0,0,136.735043,0.560164,0.0,0
2,0,0,1,0.000000,0,0,136.735043,0.650399,0.0,0
3,0,0,1,0.000000,0,0,136.735043,0.650399,0.0,0
4,0,0,1,0.000000,0,0,109.388034,0.872520,0.0,1
...,...,...,...,...,...,...,...,...,...,...
2437,1,1,1,0.761644,1,1,876.667350,13.029268,1.0,1
2438,1,1,1,2.627397,1,10,876.667350,3.624228,1.0,1
2439,1,0,1,2.627397,1,0,876.667350,3.624228,1.0,1
2440,1,0,1,2.627397,1,0,876.667350,2.899382,1.0,2
2441,1,1,1,0.087671,1,4,657.500513,2.899382,1.0,1

In [44]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score, KFold
from sklearn.metrics import accuracy_score, f1_score

# 데이터 프레임에서 독립변수와 종속변수를 분리합니다.
X = df.drop('new_target', axis=1)
y = df['new_target']

# 랜덤포레스트 모델을 정의합니다.
rf = RandomForestClassifier(random_state=42)

# 10-fold CV를 사용하여 모델의 성능을 평가합니다.
kf = KFold(n_splits=10, shuffle=True, random_state=42)
scores = cross_val_score(rf, X, y, cv=kf, scoring='accuracy')

# 10번 반복한 모델의 성능을 출력합니다.
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

Accuracy: 0.58 (+/- 0.06)

In [ ]:
rf.predict()

In [45]:
df['new_target'].value_counts()

2    529
4    527
3    475
0    329
5    301
1    281
Name: new_target, dtype: int64